.navbar-toggle {
    margin-left: 5px;
    margin-top: 15px;
}


.navbar-brand {
    height: 80px;
}

.nav li a {
    margin-top: 15px;
}



.navbar a:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.panel-body a span{
    position:absolute;
    display:none;
}

