<div class="container-fluid" style="margin-top: 0px; background-color: red; color: white; line-height: 70px;">
    <div class="row billetterie">
        <div class="col-md-12">
            <h3 class="text-center">Billeterie</h3>
        </div>
    </div>
</div>